<!DOCTYPE HTML>
<p>
<form method="get" action="/quizes/<%= quiz.id %>/check">
  Pregunta: <%= quiz.question %> <p>

    <% if (quiz.Attachment) { %>
      <img src="<%= quiz.Attachment.url %>" />
    <% } else { %> 
      <img src="/images/question.jpg" width="50px" />
    <% } %> 

  <input type="text" name="answer" value="<%= answer %>" placeholder="Responda aquí"/>
  <input type="submit" value="Comprobar"></p>
</form>
</p>

<% if (session.user) { %>



	<p> 
		<a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a> 
	</p>
<% } %>

<p><strong>Comentarios:</strong></p>

<ul>
 <% for (var i in quiz.Comments) { 
       var comment = quiz.Comments[i];
       if (comment.accepted) { %>
           <li> <%= comment.text %> </li>
           <% if (comment.AuthorId) { %>
              Autor: <%= comment.Author.username %>
           <% } %>
       <% } else if (session.user && (session.user.isAdmin || (quiz.AuthorId === session.user.id))) { %>
           <li> <%= comment.text %> </li>
           <% if (comment.AuthorId) { %>
              Autor: <%= comment.Author.username %>
           <% } %>
           <a href="/quizes/<%= quiz.id %>/comments/<%= comment.id %>/accept?_method=PUT">
              <button>Aceptar</button>
           </a>
       <% } %>
  <% } %>
</ul>